{{!-- <pre>{{data}}</pre> --}}

<div class="errorCon">
    <h1 class="errorMessage">{{data.customMessage}}</h1>
    <h3 class="errorStatus">{{data.statusMessage}}</h3>
    <h4 class="error">{{data.message}}</h4>
</div>
