{{!-- <pre>{{data}}</pre> --}}

<div class="errorCon">
    <h1 class="errorMessage">{{data.customMessage}}</h1>
    <h2 class="errorStatus">{{data.statusMessage}}</h2>
    <h3 class="error">{{data.message}}</h3>
</div>
