<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favourite Things</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
</head>
<body>
    <h1 class="title">My Favourite Things</h1>
    
    {{{ body }}}

    <footer>
        <h2 class="hidden"> Footer Section</h2>
        <h3>© 2019 All Rights Reserved</h3>
    </footer>
    
    <script type="module" src="js/main.js"></script>
</body>
</html>